<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>USE OF SOCIAL MEDIA BY ALL AGED IN 2019</title>
</head>
<body>
  <div class="Container">
    <section class="header">
      <h1>USE OF SOCIAL MEDIA BY ALL AGED IN 2019</h1>
      <div class="chart">
        <object data="images/facebook.svg" type="image/svg+xml" id="facebook"></object>
        <object data="images/instagram.svg" type="image/svg+xml" id="instagram"></object>
        <object data="images/twitter.svg" type="image/svg+xml" id="twitter"></object>
        <object data="images/linkin.svg" type="image/svg+xml" id="linkin"></object>
        <object data="images/snapchat.svg" type="image/svg+xml" id="snapchat"></object>
      </div>  
    </section>   
      <main>
        <section class="bottom">
          <object data="images/laptop.svg" type="image/svg+xml" id="laptop"></object>
          <object data="images/age_groups.svg" type="image/svg+xml" id="age_groups"></object>
        </section>

      </main>
    </div>
    <script src="js/main.js"></script>
</body>
</html>