<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>USE OF SOCIAL MEDIA BY ALL AGED IN 2019</title>
</head>
<body>
  <div class="Container">
    <section class="header">
      <h1>USE OF SOCIAL MEDIA BY ALL AGED IN 2019</h1>
      <div class="chart">
        <h3 class="hidden">FACEBOOK</h3>
        <img src="images/facebook.svg" alt="pos" class="svg-graph">
        <span class="graph" data-target="1">FACEBOOK</span>
      </div>
      
      <div class="chart">
        <h3 class="hidden">INSTAGRAM</h3>
        <img src="images/instagram.svg" alt="pos" class="svg-graph">
        <span class="graph" data-target="2">INSTAGRAM</span> 
      </div>

      <div class="chart">
        <h3 class="hidden">TWITTER</h3>
        <img src="images/twitter.svg" alt="pos" class="svg-graph">
        <span class="graph" data-target="3">TWITTER</span>
      </div>

      <div class="chart">
        <h3 class="hidden">LINKIN</h3>
        <img src="images/linkin.svg" alt="pos" class="svg-graph">
        <span class="graph" data-target="4">LINKIN</span>
      </div>

      <div class="chart">
        <h3 class="hidden">SNAPCHAT</h3>
        <img src="images/snapchat.svg" alt="pos" class="svg-graph">
        <span class="graph" data-target="5">SNAPCHAT</span>
      </div>

      
    </section>   
      <main>
        <section class="bottom">
          <object data="images/laptop.svg" type="image/svg+xml" id="laptop"></object>
          <object data="images/age_groups.svg" type="image/svg+xml" id="age_groups"></object>
        </section>

        <section class="popover tv-row">
        <div style="display: flex; flex-direction: column;">
        <p class="topic" style="margin: 0;"></p><br>
        <p class="odds" style="margin: 0;"></p>
        <p class="description" ></p></div>
        <!-- <p class="stats"></p> -->
        <img class="graph">

      </main>
    </div>
    <script src="js/main.js"></script>
</body>
</html>