
.hidden
{
  display: none;
}


img, embed, object, video {
  max-width: 100%; 
}

html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }


body
{
  font-family: 'Times New Roman', sans-serif;
  background-color: black;
  stroke: 1px white;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a 
{ 
  color:#000; 
  text-decoration: none;  
  transition:all .1s linear 0s;
  font-family: 'Times New Roman', sans-serif;
}

h2, h3
{
  font-family: 'Times New Roman', sans-serif;
  color: #4E5C1B;
}

a
{
  font-family: 'Times New Roman', sans-serif;
}

p
{
  font-family: 'Times New Roman', sans-serif;
}

/*mobile*/

.Container {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1200px;
}

.header {
  margin-bottom: 20px;
  margin-top: 5px;
}

h1 {
  font-size:16px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.chart {
  margin-bottom: 10px;
}

#laptop {
  margin-bottom: 20px;
}

#age_groups {
  margin-bottom: 20px;
}






/*tablet*/
/*  tablet */
@media screen and (min-width: 400px) {
  


}


@media screen and (min-width: 620px) {
  
  .Container
  {
    margin: 10px;
  }
  
  h1 {
    font-size: 20px;
  }


}



@media screen and (min-width: 760px) {
  
  .Container{
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
  }


  }



/* desktop */
/* home */
@media screen and (min-width: 1200px) {
  
  h1:hover
  {
    color: #cd892a;
  }
  
  h1 {
    margin-top: 100px;
    margin-right: 20px;
    font-size: 32px;
  }
  
  .header {
    display: flex;
    flex-direction: row;
  }
  
  .chart {
    width: 80%;
    margin-right: 40px;
  }
  
  .bottom {
    display: flex;
    flex-direction: row;
  }
  
  #laptop {
    height: 400px;
    margin-top: -60px;
    margin-right: 
  }
  
  #age_groups {
    width: 500px;
    margin-right: 40px;
  }
  
  
  
  